
  <div class="btn-group dropup m-0 p-0 w-25"  role="group">
    <i id="btnGroupDrop1"  class="fa fa-paint-brush" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
    <div class="dropdown-menu m-0 p-0" style="background:light-grey" aria-labelledby="btnGroupDrop1">
      <a class="dropdown-item" style="background:grey" href="#">
        <button type="button" class="btn btn-sm list-group-item-info" (click)="onColorPick('list-group-item-info')">&nbsp;</button>
        <button type="button" class="btn btn-sm list-group-item-success" (click)="onColorPick('list-group-item-success')">&nbsp;</button>
      <!--</a>
      <a class="dropdown-item" style="background:grey" href="#">-->
        <button type="button" class="btn btn-sm list-group-item-warning" (click)="onColorPick('list-group-item-warning')">&nbsp;</button>
        <button type="button" class="btn btn-sm list-group-item-danger" (click)="onColorPick('list-group-item-danger')">&nbsp;</button>
      <!--</a>
      <a class="dropdown-item" style="background:grey" href="#">  -->
        <button type="button" class="btn btn-sm bg-faded" (click)="onColorPick('bg-faded')">&nbsp;</button>
    </a>
    <a class="dropdown-item" style="background:grey" href="#">
        <button type="button" class="btn btn-sm bg-primary" (click)="onColorPick('bg-info')">&nbsp;</button>
        <button type="button" class="btn btn-sm bg-success" (click)="onColorPick('bg-success')">&nbsp;</button>
        <button type="button" class="btn btn-sm bg-info" (click)="onColorPick('bg-info')">&nbsp;</button>
        <button type="button" class="btn btn-sm bg-warning" (click)="onColorPick('bg-warning')">&nbsp;</button>
        <button type="button" class="btn btn-sm bg-danger" (click)="onColorPick('bg-danger')">&nbsp;</button>
      </a>  
    </div>
  </div>
