<template #content let-c="close" let-d="dismiss">
  <div [ngClass]="note.Color">
  <div class="modal-header border-0">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form >
      <div class="form-group ">
          <input id="textBox"  type="text" class="form-control border-0" style="background: transparent" name="note" [(ngModel)]="note.Title" placeholder="Title ...">
      </div>
      <div class="form-group" *ngIf="!note.IsTodo">
         <pre> <textarea #notetextarea class="form-control border-0"   style="background: transparent; overflow: hidden" [(ngModel)]="note.Content" name="content" placeholder="Content ..." (keyup.enter)="increaseTextareasize(notetextarea)"></textarea></pre>
         <!--<div contenteditable="true" [innerHtml]="note.content" (input)="note.content=$event.srcElement.innerHTML" name="content"></div>-->
      </div>      
      <div class="form-group" *ngIf="note.IsTodo">
         <to-do-list [todos]="note.ToDoItems"></to-do-list>
      </div>      
    </form>
    
  </div>
  <div class="modal-footer border-0">
    <button type="button" class="btn btn-secondary btn-sm border-0 bg-white" style="background: transparent" (click)="c('Close click')"><small><b>DONE</b></small></button>
  </div>
  </div>
</template>

<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>  -->
<i [ngClass]="imgIcon" (click)="open(content, {size:lg})"></i> 
<!--<hr>

<pre>{{closeResult}}</pre>-->