<style>

    @media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
}
</style>
<br/>
<div class="row"><br/>{{clickMessage}}</div>
<!--
  <div class="row">      
    <div *ngFor="let n of notes" >  
      <div class="col-md-4 float">
        <div class="panel panel-default" (click)="onClickNote(n.id)">
            <div class="panel-heading">{{n.title}}
              <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-pencil"></span> 
              </button>
            </div>
            <div class="panel-body">
              <span style="white-space:pre-wrap;">{{n.content.substring(1,25)}}</span>
            </div>
             <div class="panel-footer">{{n.date}}</div>
          </div> 
      </div>      
   </div>
  </div>
   -->
<!--<div class="row">
  <div class="col-md-12">-->
    <div class="card-columns"> 
      <div *ngFor="let n of notes" (mouseover)='showButtons(n)' (mouseout)="hideButtons(n)" >
        <div class="card" >
          <div [ngClass]="n.color">  
          <!--(click)="onClickNote(n.id)" -->
             <!--<img class="card-img-top img-fluid" src="..." alt="Card image cap"> -->
            <div class="card-block">
            <div class="card-title"><h3 >{{n.title}} </h3></div>
            <pre><p class="card-text" style="overflow-x: hidden">{{n.content}}</p></pre>
            <p class="card-text"><small class="text-muted">{{n.date | date: 'dd/MM/yyyy'}}</small></p>  
            <!--<p class="card-text text-center">&nbsp;
              <i [hidden]="n.hide" (click)="onClickEdit(n)" class="fa fa-pencil"></i>
             </p>-->
             <p class="card-text text-left">&nbsp;
               <modal-edit-note [hidden]="n.hide" [note]="n"></modal-edit-note>
              <!--<i [hidden]="n.hide" (click)="onClickEdit(n)" class="fa fa-pencil"></i>-->
              <color-picker [hidden]="n.hide" (colorName)="changeColor($event, n)"></color-picker>
              <!--<color-picker #colorpicked></color-picker><span>{{colorpicked.colorName}}</span>-->
             </p>
            </div>            
        </div>
        </div>
      </div>
    </div>
    <!--</div>
    </div>-->

