<style>
    .bg-white{
    background: transparent;
    }
    .strikethrough{
        text-decoration: line-through;
        color: grey;
    }
</style>
    <ul class="list-group">
        <li class="list-group-item border-0 m-0 p-0 bg-white" *ngFor="let t of todos">           
            <div class="input-group border-0 bg-white" *ngIf="!t.Complete">
            <span class="input-group-addon border-0 bg-white">
                <input type="checkbox" aria-label="Checkbox for following text input" [(ngModel)]=t.Complete>
            </span>
            <input type="text" class="form-control form-control-sm border-0 bg-white" aria-label="Text input with checkbox" [(ngModel)]=t.TaskName>
            <span class="input-group-addon btn bg-white border-0 fa fa-close" (click)="onDelete(t)"></span>
            </div>     
        </li>
    </ul>    
            <label class="sr-only" for="inlineFormInputGroup">ListItem</label>
            <div class="input-group br-0 bl-0">
                <div class="input-group-addon border-0 bg-white fa fa-plus"></div>
                <input #textbox type="text" class="form-control form-control-sm border-0 bg-white" id="inlineFormInputGroup" 
                placeholder="List Item" (keyup.enter)="onAddTask(textbox.value)" [(ngModel)]="task">
                <!--<span class="input-group-addon btn btn-secondary fa fa-close"></span>-->
            </div>
    <hr/>

    <ul class="list-group" *ngFor="let t of todos">
        <li class="list-group-item border-0 m-0 p-0 bg-white" *ngIf="t.Complete">           
            <div class="input-group border-0">
            <span class="input-group-addon border-0 bg-white">
                <input type="checkbox" aria-label="Checkbox for following text input" [(ngModel)]=t.Complete>
            </span>
            <input type="text" class="form-control form-control-sm border-0 bg-white strikethrough" aria-label="Text input with checkbox" [(ngModel)]=t.TaskName>
            <span class="input-group-addon btn bg-white border-0 fa fa-close" (click)="onDelete(t)"></span>
            </div>     
        </li>
    </ul>